.AbuserIp{
    font-family: "Montserrat", sans-serif;
    display: inline;
}
.AbuserIpButton{
    font-size: 17px;
    background-color: transparent;
    border: 2px solid rgb(8, 254, 209);
    border-radius: 25px;
    font-weight: bold;
    color: black;
    padding: 7px 20px;
}
.AbuserIpButton:hover{
    background-image: linear-gradient(to right, rgb(102, 250, 10) , rgb(8, 254, 209));
    color: black;
    border: 2px solid transparent;
}
@media (min-width: 200px) and (max-width: 600px) {
    .AbuserIpButton{
        font-size: 15px;
        background-color: transparent;
        border: 2px solid rgb(8, 254, 209);
        border-radius: 25px;
        font-weight: bold;
        color: black;
        padding: 5px 12px;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    .AbuserIpButton{
        font-size: 15px;
        background-color: transparent;
        border: 2px solid rgb(8, 254, 209);
        border-radius: 25px;
        font-weight: bold;
        color: black;
        padding: 6px 15px;
    }
}
@media (min-width: 900px) and (max-width: 1300px) {
    .AbuserIpButton{
        font-size: 15px;
        background-color: transparent;
        border: 2px solid rgb(8, 254, 209);
        border-radius: 25px;
        font-weight: bold;
        color: black;
        padding: 6px 15px;
    }
}