.reset-password-div{
    margin-bottom: 25px;
}
.reset-password-button{
    background-color: black;
    color: white;
    width: 55%;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: normal;
    border-radius: 3px;
    letter-spacing: 1px;
}
.reset-password-button:hover{
    background-image: linear-gradient(to right, rgb(102, 250, 10) , rgb(8, 254, 209));
    color: black;
    border: 2px solid transparent;
    font-weight: bold;
}
@media (min-width: 200px) and (max-width: 600px) {
    .reset-password-div{
        margin-bottom: unset;
    }
    .reset-password-button{
        background-color: black;
        color: white;
        width: 220px;
        padding: 10px 10px;
        font-size: 13px;
        font-weight: normal;
        border-radius: 3px;
        letter-spacing: 0.5px;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    .reset-password-div{
        margin-bottom: unset;
    }
    .reset-password-button{
        background-color: black;
        color: white;
        width: 60%;
        padding: 10px 12px;
        font-size: 14px;
        font-weight: normal;
        border-radius: 3px;
        letter-spacing: 0.5px;
    }
}