.set-password-div{
    margin-bottom: 25px;
}
.set-password-button{
    background-color: black;
    color: white;
    width: 55%;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: normal;
    border-radius: 3px;
    letter-spacing: 1px;
}
.set-password-button:hover{
    background-image: linear-gradient(to right, rgb(102, 250, 10) , rgb(8, 254, 209));
    color: black;
    border: 2px solid transparent;
    font-weight: bold;
}