.navbar{
  max-width: 1300px;
  margin: auto;
  overflow: hidden;
}
.header{
  width: 33%;
}
.navbar-buttons{
  width: 67%;
}
.logo{
  width: 45%;
  margin-top: 10px;
}
@media (min-width: 200px) and (max-width: 600px) {
  .navbar{
    max-width: unset;
    margin: unset;
    overflow: hidden;
  }
  .header{
    width: 55%;
  }
  .navbar-buttons{
    width: 45%;
  }
  .logo{
    width: 90%;
    margin-top: 10px;
  }
}