.pricing-div {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  height: 110px;
}
.pricingSloganMain{
    background-color: #f2f6ff;
    width: 100%;
    margin-top: 34px;
}
.plans {
  max-width: 1300px;
  margin: auto;
  overflow: hidden;
  padding-bottom: 80px;
  margin-top: 75px;
}
.plan-div {
  width: 25%;
  float: left;
  margin: 0px 54px;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 50px 30px;
  border: 2px solid #d1d1d1;
}
.free-text {
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0px;
}
.plan-specs {
  margin-bottom: 5px;
}
.developerLicense {
  margin-bottom: 50px;
}
.alreadyText{
    font-size: 18px;
    color: black;
    font-weight: bold;
    width: 200px;
    margin: auto;
}
.upgradeText{
    margin-top: 20px;
    font-size: 17px;
    line-height: 1.8rem;
}
.price-text {
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 22px;
}
@media (min-width: 200px) and (max-width: 600px) {
  .pricing-div {
    background-color: black;
    font-family: "Montserrat", sans-serif;
  }
  .plans {
    max-width: unset;
    margin: auto;
    overflow: hidden;
    padding-bottom: 50px;
    margin-top: 40px;
  }
  .plan-div {
    width: 90%;
    float: left;
    margin: 0px 15px 10px 15px;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 3px;
    padding: 25px 15px;
  }
  .free-text {
    font-size: 20px;
    font-weight: bolder;
    margin: 5px 0px;
  }
  .plan-specs {
    margin-bottom: 5px;
  }
  .developerLicense {
    margin-bottom: 50px;
  }
  .price-text {
    margin-bottom: 20px;
  }
}
/* 
.column {
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
  width: 35%;
  float: left;
}

.plan {
  text-align: center;
  margin-bottom: 50px;
} */
